 :host /deep/ {
 	height: 100%;
 }

 .row {
 	margin-right: 0;
 	margin-left: 0;
 }

 .slimScrollDiv {
 	width: 872px !important;
 	height: 260px !important;
 	background-color: #ed1263 !important;
 }

 .thumbs {
 	width: 872px;
 	height: 260px;
 }