@font-face {
	font-family: 'Globotipo Condensada Black';
	src: url('Globotipo Condensada/Globo Cd Bk.eot') format('eot'),
	url('Globotipo Condensada/Globo Cd Bk.woff') format('woff'),
	url('Globotipo Condensada/Globo Cd Bk.woff2') format('woff2');
}

@font-face {
	font-family: 'Globotipo Texto Regular Italic';
	src: url('Globotipo Texto/Globo Tx Rg It.eot') format('eot'),
	url('Globotipo Texto/Globo Tx Rg It.woff') format('woff'),
	url('Globotipo Texto/Globo Tx Rg It.woff2') format('woff2');
}

@font-face {
	font-family: 'Globotipo Texto Bold';
	src: url('Globotipo Texto/Globo Tx Bd.eot') format('eot'),
	url('Globotipo Texto/Globo Tx Bd.woff') format('woff'),
	url('Globotipo Texto/Globo Tx Bd.woff2') format('woff2');
}

@font-face {
	font-family: 'Globotipo Texto Regular Italic';
	src: url('Globotipo Texto/Globo Tx Rg It.eot') format('eot'),
	url('Globotipo Texto/Globo Tx Rg It.woff') format('woff'),
	url('Globotipo Texto/Globo Tx Rg It.woff2') format('woff2');
}

@font-face {
	font-family: 'Globotipo Texto Bold Italic';
	src: url('Globotipo Texto/Globo Tx Bd It.eot') format('eot'),
	url('Globotipo Texto/Globo Tx Bd It.woff') format('woff'),
	url('Globotipo Texto/Globo Tx Bd It.woff2') format('woff2');
}