


/deep/ .pdfViewer .page {
	width: 816px !important;
}

/* Importação de Fontes */

body {
	font-size: 16px;
}

::selection {
	background: rgba(0,0,0,0.5);
}
::-moz-selection {
	background: rgba(0,0,0,0.5);
}

.general-bg {
	background-color: #393834;
	height: auto;
	padding: 1.5%;
}

.container-bg {
	background-color: #2c2b28;
	height: 82.5vh;
}

.left-panel {
	overflow: auto;
	width: 30%;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 2%;
}

.right-panel {
	width: 70%;
	padding: 3%;
}

.sliders {
	height: 70%;
	background-color: rgba(0,0,0,0.5);
}

.thumbs {
	background-color: rgba(0,0,0,0.2);
	flex-wrap: wrap;
	position: relative;
	width: auto;
	height: auto;
}

.thumbs div {
	padding: 1%;
}

.thumbs img {
	width: 100%;
	box-sizing: border-box;
	
}

.buttons {
	width: 100%;
	justify-content: center;
	margin-top: 4%;
	white-space: nowrap;
}

.slider-btn:focus {outline:0;}

.slider-btn {
	align-items: center;
	justify-content: space-evenly;
	width: 30%;
	background-color: transparent;
	border: solid #ed1263;
	color: white;
	font-family: Globotipo Texto;
	cursor: pointer;
}

.slider-btn:hover {
	background-color: rgba(0,0,0,0.5);
}

.panel-title {
	text-align: right;
	margin-top: 15%;
	font-size: 2.313em;
	color: #fff;
	font-family: Globotipo Condensada Black;
}

.panel-info {
	color: #fff;
	background-color: #ed1263;
	padding: 0 10px;
	font-family: Globotipo Texto Regular Italic;
}

.panel-list {
	margin-top: 15%;
	color: #fff;
	font-family: Globotipo Condensada Black;
	width: 80%;
	text-align: right;
}

.panel-margin div {
	border-bottom: solid 2px #6c6b69;
	border-top: solid 2px transparent;
	border-left: solid 2px transparent;
	border-right: solid 2px transparent;
	padding-right: 5%;
	cursor: pointer;
}

.panel-margin div:hover {
	color: #0de38f;
}

.selected {
	border: solid 2px #16ac70 !important;
}

.panel-margin {
	margin-right: 10%;
}

.panel-title, .panel-info, .panel-list {
	margin-right: 5%
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slimScrollBar {
	width: 7px !important;
}

.pdf {
	max-height: 400px;
}

.flex{
	display: flex;
}

.flex-c{
	flex-direction: column;
}

@media (max-width: 320px) {
	body {
		font-size: 7px;
	}
}

@media (min-width: 565px) and (max-width: 700px) {
	body {
		font-size: 12px;
	}
}

@media (min-width: 699px) and (max-width: 929px) {
	body {
		font-size: 15px;
	}
}


@media (min-width: 930px) {
	body {
		font-size: 20px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 20px;
	}
}